In [40]:
import pandas

In [41]:
data_frame = pandas.read_csv('ausgaben.csv', parse_dates=['date'])

In [42]:
data_frame = data_frame.set_index('date')

In [45]:
data_frame.groupby([pandas.TimeGrouper(freq='M')])['amount'].sum()

date
2016-01-31    1547.52
2016-02-29    1814.10
2016-03-31    1554.55
Name: amount, dtype: float64

In [51]:
data_frame.groupby([pandas.TimeGrouper(freq='M'), 'category'])['amount'].sum()

date        category
2016-01-31  Beruf           111.54
            Freizeit        148.80
            Haushalt         49.62
            Kleidung        104.90
            Lebensmittel    534.16
            Miete           350.00
            Restaurant      207.80
            Transport         9.20
            Versicherung     31.50
2016-02-29  Beruf           430.00
            Freizeit        335.00
            Haushalt         15.00
            Lebensmittel    239.00
            Miete           350.00
            Restaurant      149.40
            Sonstiges         0.70
            Transport       263.50
            Versicherung     31.50
2016-03-31  Arznei           10.00
            Beruf           128.00
            Freizeit        240.50
            Haushalt        116.00
            Lebensmittel    240.25
            Miete           390.00
            Restaurant      284.00
            Transport       114.30
            Versicherung     31.50
Name: amount, dtype: float64

In [52]:
data_frame['amount'].sum()

4916.1700000000001